

*{
    /*background-color: #FCFCFC; */
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'Canarina-Regular';
    src: url('/fonts/Canarina-Regular.woff') ;
}


@font-face {
    font-family: 'Pilowlava-Regular';
    src: url('/fonts/Pilowlava-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


h1 {
    font-family: "Pilowlava-Regular";
    color: #353130;
    font-size: 5.3rem;
    text-transform: uppercase;
    text-align: right;
    margin: 1rem;
    margin-right: 4%;  
}
 /*https://www.geeksforgeeks.org/how-to-add-onclick-effect-using-css/*/
h1:hover{
    transform: scale(1.01);
}

h2 {
    color: #353130;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 3.5rem;
    padding: 0px;
}


h3 {
    color: #353130;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
}

button{
    position: absolute;
    height: 60px;
    min-width: 300px;
    max-width: 35%;
    padding: 1rem;
    margin-bottom: 20%;
}


/*n Navigation elements */
/* thanks to bro code: https://www.youtube.com/watch?v=f3uCSh6LIY0 */
.nav{
    /*margin-left:20%;*/
    margin-right: 4%;
    text-transform: uppercase;
    text-align: right;
}

.nav ul{
    /* background-color: cadetblue; */
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.nav li{
    margin-left: 4rem;
    float: right;
}

.nav a{
    text-decoration: none;
    display: block;
}

.nav h3:hover{
    color: #3f7373;   
    /*background-color: rgb(160, 137, 95);   used for checking  */
    text-decoration: underline dotted;   
}

.nav h3:active{
    /*background-color: rgb(160, 137, 95);   used for checking  */
    text-decoration: underline solid;   
}


/* main */

/*grid*/

/* https://www.w3schools.com/css/tryit.asp?filename=trycss_grid*/
.mgrid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    margin: 8%;
    margin-top: 4%;
    max-width: 100%;
    /*border:#353130 solid 1px;*/
    position: relative;
    min-height: 1000px;
    max-height: 50%;
}

.mgrid div{
    margin: 0;
    padding: 0;
    min-width: 20%;
    /*border: #353130 solid 1px;*/
}

.mgrid img{
    object-fit: cover;
    max-width: 100%;
    /*border: #bf754b solid 1px;*/
}

.mgrid a{
    text-decoration: none;
}

.mgrid h2{
    color: #353130;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 3rem;
    padding: 0px;
    margin: 20px;
    margin-left: 0px;
}

.mgrid h2:hover{
    color: #3f7373;  
    /*text-decoration: underline dotted; */ 
}

.mgrid h2:active{
    color: #bf754b;
}
/* end grid*/


/* https://www.w3schools.com/css/css3_flexbox_container.asp */
.container-flex{
    background-color: #F5F5F5;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 8%;
    margin-left: 0%;
    margin-right: 0%;
    max-width: 100%;
    /*border:#cc1078 solid 2px;*/
    padding: 1rem;
    min-height: 400px;
    max-height: 50%;
}

.container-flex div{
    /*border:#cc1078 solid 2px;*/
    max-height: 20%;
    margin-left:10%;
    object-fit: cover;
    padding-top: 0%;
}

.container-flex div img{
    width: 100%;
}


.rev{
    flex-direction: row;
}

.grid-lab{
    display: grid;
    height: auto;
    margin-top: 4%;
    gap: 20px;
    /* background-color: #2b76cb;*/
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
}
/*.grid-lab div{
    background-color: #F5F5F5;
    border: #0e1111 solid 2px;
    min-height: 20%;
}*/
.item-lab1{
    /*border: #0e1111 solid 2px;*/
    height: auto;
    padding: 0px;
    padding-left: 2%;
}
.item-lab1 h2{
    margin-bottom: 0px;
}
.item-lab2{
    background-color: #F5F5F5;
    /*border: #0e1111 solid 2px;*/
    min-height: Auto; 
}
.item-lab3{
    /*border: #0e1111 solid 2px;*/
    height: auto; 
    align-content: center;
}
.item-lab3 button{
    position: absolute;
    left: 43%;
}

.flex-lab-inside{
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 8%;
    margin-top: 2%;
    margin-bottom: 2%;
    flex-wrap: nowrap ;
}
.flex-lab-inside div{
    max-width: 33%;
    margin: 2%;
}
.flex-lab-inside img{
    width:100%
}



.container-flex-lab{
    background-color: #F5F5F5;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 8%;
    margin-left: 0%;
    margin-right: 0%;
    max-width: 100%;
    border:#cc1078 solid 2px;
    padding: 1rem;
    min-height: 400px;
    max-height: 50%;
}

.container-flex-lab div{
    border:#cc1078 solid 2px;
    margin: 2%;
    max-height: 20%;
    object-fit: cover;
    
}

.container-flex-lab div img{
    width: 100%;
}

.container-flex-lab div button{
    width:300px;
}



/* footer's class */

.fdiv{
    position: relative;
    /*border: #353130 solid 3px; */
    max-width: 100%;
    height: auto;
}

.frec{
    z-index: 20;
    position: absolute;
    padding: 1rem;
    bottom: 0;
    margin: 0%; 
    background-color: #0e1111;
    width: 20%;
    height: 70%; 
    max-height: 70%;
    margin: 3%;
}

.frec ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.frec a{
    text-decoration: none;
}

.frec p{
    color: #FCFCFC;
    background-color: #0e1111;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    padding: 1rem;
    margin: 0px; 
    margin-left: 1rem;
}

.frec p:hover{
    color:#3f7373;
    text-decoration: underline dotted;
}

/* https://www.w3schools.com/css/css_link.asp */
.frec p:active{
    color: #bf754b;
    text-decoration: underline solid;
}

.frec p:visited{
    color: #bf754b;
    text-decoration: underline solid;
}

.fimg{
    position: relative;
    object-fit: contain;
    bottom: 0px;
    max-width: 100%; 
    z-index: 2;
}


/* https://www.w3schools.com/icons/default.asp */


/* https://www.youtube.com/watch?v=qTddGwg2ht0 */
@media(max-width: 600px){
    h1{
        font-size: 2rem;
    }
}
@media(max-width: 768px){
    h1{
        font-size: 4.5rem;
    }
    h2{
        font-size: 2.5rem;
        text-align: center;
    }
    h3{
        font-size: 1.25rem;
    }
    .nav li{
        margin-left: 1.5rem;
    }
    .mgrid h2{
        font-size: 1.5rem;
    }
    button{
        height: 43px;
        min-width: 215px;
        padding: .5rem;
    }
    .container-flex{
        /*flex-direction: column;*/
        flex-wrap: wrap;
        justify-content: center;
        margin: 2%;
    
    }
    .frec p{
        font-size: 1rem;
        padding: 1rem;
        margin: 0px; 
        margin-left: 1rem;
    }

}

